 /* body container styling */

.container{
    width: 1190px;
    margin: 0 auto;
    font-family: Open Sans,"Segoe UI",Tahoma,sans-serif;
}
/* Header css styling */

header {
    width: 100%;
    padding: 15px 10px;

}
header ul li{
    display: inline-block;
    margin: 0px 5px;
   
}
header .logo{
    float: left;
}
header nav,header .startNow{
    float: right;
   
}
header ul li{
    position: relative;
}
header ul li a{
    display: inline-block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: large;
   
}
/* anchor hover */
header ul li a:hover {
    color: #0066ff;
    border-bottom: 3px solid darkgray; 
  }
  header ul li > ul{
      display: none;
      position: absolute;
      top: 44px;
      left: 0;
  }
  header ul li:hover > ul{
    display: block;
   
}

 /* button 1 styling before hovering */

.btn1Style{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
   
}
 /* button 1 styling after hovering */

.btn1Style:hover{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition:all 1.2s ease 0s;
   
}


/* anchor text color */
a.linkColor{ 
    color: #0066ff;
}


div h1{
    font-size: 40px;
    color:#333;
    font-weight: 500;
}

/* Applying margin to elements */
.margin{
    margin-top: 70px;

}
/* Applying float to elements */
.fLeft{
    float: left;
    font-family: Open Sans,"Segoe UI",Tahoma,sans-serif;
    font-size: 25px;
    margin-top: 30px;
}
.fRight{
    float: right;
}

/* section content and image display */
.contentMargin{
    margin-top: 20px;
    margin-bottom: 30px;
}
.bannerContent{
    width: 60%;

}
.bannerImage{
    width: 40%;
}
 /* button 2 styling before hovering */

.btn2Style{
    background-color: #006BB1;
    font-family: Open Sans,"Segoe UI",Tahoma,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 30px;
   
}
/* button 2 styling after hovering */
.btn2Style:hover{
    background-color: #006BB1;
    font-family: Open Sans,"Segoe UI",Tahoma,sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 1.1s ease 0s;
   
}

/* Sticky position for header */
header.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}



