 /* body container styling */

 /* Common CSS*/

.section-border {
    border-bottom: 1px solid #c8c8c8;
}

 body, * {
    font-family: 'Roboto', sans-serif;
 }

.container{
    width: 1190px;
    margin: 0 auto;
    padding: 15px 20px;
}

/* clearing the float property */
.clearFix::after { 
    clear: both;
    content: '';
    display: block;
}

.clear {
    clear: both;
}

 /* button 1 styling before hovering */

 .btn1Style{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
   cursor: pointer;
}
 /* button 1 styling after hovering */

.btn1Style:hover{    
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
    transition:all 1.2s ease 0s;
   
}
 /* button 2 styling before hovering */

 .btn2Style{
    background-color: #006BB1;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 16px 25px 17px;
    border: none;
    border-radius: 50px;
    line-height: 27px;
    cursor: pointer;
}
/* button 2 styling after hovering */
.btn2Style:hover{
    border-radius: 30px;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition:all 1.1s ease 0s;
}


/* Applying margin to elements */
.margin{
    margin-top: 20px;

}
/* Applying float to elements */
.fLeft{
    float: left;
}

.fRight{
    float: right;
}

/* section content and image display */
.contentMargin{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* anchor text color */
a.linkColor{ 
    color: #0066ff;
}

section.padding-around {
    padding: 100px 0px;
}

section.bottom-padding {
    padding-bottom: 100px;
}


 /* Common CSS Ends*/


/* Header css styling */

header {
    width: 100%;
    background:#fff;
    box-sizing: border-box;
}

header ul li{
    display: inline-block;
    margin: 0px 5px;   
}
header .logo{
    float: left;
}
header nav,header .startNow{
    float: right;
   
}
header ul li{
    position: relative;
}
header ul li a{
    display: inline-block;
    padding: 10px 5px;
    color: #333;
    text-decoration: none;
    font-size: large;
    border-bottom: 3px solid transparent; 
}
/* anchor hover */
header ul li a:hover {
    color: #0066ff;
    border-bottom: 3px solid darkgray; 
  }
  header ul li > ul{
      display: none;
      position: absolute;
      top: 44px;
      left: 0;
  }
  header ul li:hover > ul{
    display: block;
   
}

/* Sticky position for header */
header.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


div h1{
    font-size: 40px;
    color:#333;
    font-weight: 500;
}

.bannerContent{
    width: 60%;
    font-size: 25px;
    margin-top: 30px;
}
.bannerContent h1 strong {
    display: block;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.93px;
    line-height: 56px;
}
.bannerImage{
    width: 40%;
    width: 450px;
    height: 432px;
    background: url(../images/OHimg.svg) no-repeat 0 0;
    background-size: 100% auto;
}   


.teamImages1{
    width: 98px;
    height: 36px;
    background: url(../images/walkme.webp) no-repeat 0 0;
    background-size: 100% auto;
    margin-left: 0 !important;
}
.teamImages2{
    width: 150px;
    height: 36px;
    background: url(../images/touchbistro.webp) no-repeat 0 0;
    background-size: 100% auto;
}
.teamImages3{
    width: 114px;
    height: 36px;
    background: url(../images/tophat.webp) no-repeat 0 0;
    background-size: 100% auto;
}
.teamImages4{
    width: 90px;
    height: 36px;
    background: url(../images/nexonia.webp) no-repeat 0 0;
    background-size: 100% auto;
}
.teamImages5{
    width: 223px;
    height: 35.94px;
    background: url(../images/targetprocess.webp) no-repeat 0 0;
    background-size: 100% auto;
    margin-right: 0 !important;
}
section ul.display {
    margin-top: 30px;
}

section ul.display li{
    display: inline-block;
    margin: 0px 57px;
}

section h5{
    margin-top: 20px;
    text-align: center;
    font-weight:380;
    color:darkslategray;
    font-size: 16px;
}


/* Product listing */

.product-list li {
    width: calc(50% - 3px);
    display: inline-block;
}

.product-list li > span {
    width: 180px;
    height: 210px;
    display: inline-block;
}

.product-list li > div {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 220px);
    margin-left: 35px;
}

.product-list li:nth-child(1) span.image {
    background: url(../images/so-image.svg) no-repeat;
}

.product-list li:nth-child(2) span.image {
    background: url(../images/co-image.svg) no-repeat;
}
.product-list li > div span {
    width: 100%;
    height: 30px;
    display: inline-block;
}

.product-list li > div span.so-logo {
    background: url(../images//so-logo.svg) no-repeat;
    margin-top: 40px;
}

.product-list li > div span.co-logo {
    background: url(../images/co-logo.svg) no-repeat;
    margin-top: 40px;
}

.product-list li div button{
    padding: 12px 25px;
    font-weight: bold;
    font-size: 20px;
}

.product-list li:nth-child(1) div button{
    background: rgba(0,107,177,1.0);
}

.product-list li:nth-child(2) div button {
    background: #b733a9;
}

.product-list div p {
    font-size: 15px;
    line-height: 30px;
}

.design-section h5 {
    font-size: 30px;
    line-height: 32px;
    text-align: left;
    padding-bottom: 15px;
}
.design-section h3 {
    font-size:40px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.design-section ul li h6 {
    font-size:18px;
    font-weight: 600;
    line-height: 22px;
    display: inline-block;
    padding: 10px 0px;
    margin: 0 auto;
   
}
.design-section ul li {
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
    padding: 10px 20px 10px 0;
    margin: 0 auto;
    width: 33%;
    vertical-align: top;
}

.design-section p{
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
}

.banner2Image{
    width: 100%;
    height: 310px;
    background: url("../images/building-image.svg") no-repeat;
    background-size: 100% auto;
    display: block;
}
.banner3Image{
    width: 100%;
    height: 310px;
    background: url("../images/user-images.svg") no-repeat;
    background-size: 100% auto;
    display: block;
}

.design-banner-right {
    width: 260px;
    margin-top: 100px;
}

.design-banner-left {
    width: calc(100% - 260px);
    padding-top: 50px;
}

.design-banner-left ul {
    padding-right: 50px;
}

.design-banner-left-2 {
    width: 260px;
    margin-top: 120px;
}

.design-banner-right-2 {
    width: calc(100% - 260px);
    padding-top: 50px;
    padding-left: 50px;
}

.design-section2 h3{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
.design-section2 h6{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}
.design-section2 ul li {
    font-size: 15px;
    line-height: 22px;
    display: inline-block;
    /* padding: 10px 20px 10px 0; */
    margin: 40px auto;
    width: 13%;
    vertical-align: top;
}

.meetingLogo1{
    width: 70px;
    height: 70px;
    background: url("../images/zoom.svg") no-repeat;
    
}
.meetingLogo2{
    width:70px;
    height: 70px;
    background: url("../images/googlemeet.svg") no-repeat;
   
}

.meetingLogo3{
    width: 70px;
    height: 70px;
    background: url("../images/mteams.svg") no-repeat;
   
}
.meetingLogo4{
    width:70px;
    height: 70px;
    background: url("../images/gtm.svg") no-repeat;
    
}
.meetingLogo5{
    width: 70px;
    height: 70px;
    background: url("../images/webex.svg") no-repeat;
   
}
.meetingLogo6{
    width: 70px;
    height: 70px;
    background: url("../images/gcalendar.svg") no-repeat;
   
}
.meetingLogo7{
    width: 70px;
    height: 70px;
    background: url("../images/office365.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo8{
    width: 70px;
    height: 70px;
    background: url("../images/exchange.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo9{
    width: 70px;
    height: 70px;
    background: url("../images/outlook.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo10{
    width: 70px;
    height: 70px;
    background: url("../images/icloud.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo11{
    width: 70px;
    height: 70px;
    background: url("../images/salesforce.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo12{
    width: 70px;
    height: 70px;
    background: url("../images/infusionsoft.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo13{
    width: 70px;
    height: 70px;
    background: url("../images/zapier.svg") no-repeat;
    margin-left:0 !important;
}
.meetingLogo14{
    width: 70px;
    height: 70px;
    background: url("../images/paypal.svg") no-repeat;
    margin-left:0 !important;
}
.design-section2 h4{
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    text-align: center;
    color: blue;   
}
.design-section2 h4:hover{
  text-decoration: underline;
}
.trustCenterLogo1{
    width: 70px;
    height: 70px;
    background: url("../images/trust-center-logos1.webp") no-repeat;

}
footer{
    background-color:#33475B;
    color: white;
    height: auto;
}
footer div ul li{
    display: inline-block;
    width:19%;
    line-height:30px;
    margin-top: 15px;
    vertical-align: top;
}
footer div ul li > h6{
    font-size:16px;
    font-weight:bold;

}

footer a{
    color: white;
    display:block
}

footer a:hover{
  text-decoration: underline;
}
